<div class="serv-list-edt">
  <h1 class="serv-list-edt__header">
	Услуги
	<a class="app-button"
	   ui-sref="byt.splrManager.servCreator"
	   ng-if="is_owner || sessData.is_moder">
	  <i class="fa fa-plus"></i>
  	  Добавить
  	</a>
  </h1>
  <ul class="serv-list-edt__list pure-g" ng-if="arr_master_serv">
	<li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4"
		ng-repeat="msrv in arr_master_serv">
	  <div class="serv-list-edt__item-wrap">
		<a class="serv-list-edt__item-link"
		   ui-sref="byt.splrManager.servItem({id: msrv.id})">
		  {{msrv.serv_rubric_name}}
		</a>
	  </div>
	</li>
  </ul>
  <div ng-if="err_master_serv">
	Ошибка загрузки услуг. Попробуйте позже.
  </div>
  <div ng-if="!err_master_serv && !arr_master_serv">
	...
  </div>
</div>

<div ng-if="supplier.nstg_id">
  <p>
	Фотографии работ и наименования услуг экспортируются автоматически из вашего аккаунта Инстаграм.
  </p>
  <p>
	Первоначальный экспорт запускается в ближайшие пару дней после создания кабинета.
  </p>
  <p>
	Дальнейший экспорт (обновление работ и услуг) происходит примерно раз в неделю.
  </p>
  <p>
	Для того, чтобы ваши фотографии были экспортированы, необходимо выставить соответствующие тэги к фотографиям в формате
	#городуслуга или #услугагород, например:
	#москваманикюр
	#педикюрмосква
	#наращиваниересницнабережныечелны
	#спбстрижка
	и т.п.
  </p>
  <p>
	Тэг должен включать название вашего города и наименование услуги. Название города может быть как полным, так и частоупотребляемым сокращением, например: #санктпетербург или #спб;	#ростовнадону или #рнд;	#новосибирск или #новосиб
  </p>
  <p>
	Пробелы и дефисы не разрешены в тэгах.
	Регистр букв не важен.
  </p>
</div>

<!-- Отображается список всех услуг -->

<!-- Укажите услуги -->



<!-- <div> -->
<!-- Список специализация + услуга -->
<!-- </div> -->

<!-- Мастер отображается в каталогах выбранных услуг. Для каждой услуги необходимо загрузить хотя бы одну фотографию. -->


<!-- Услуга: Наращивание волос: -->

<!-- Загрузите фото -->

<!-- или -->

<!-- укажите ссылку на видео -->

<!-- Добавьте описание к фото -->
<!-- (а также другие услуги, которые могут соответствовать работе) -->


<!-- Удалить фото (или видео) -->
<!-- Услуга не удаляется. а остаётся пустой. -->
<!-- Если услуга удаляется, то и фото удаляется. -->

<!-- К услуге можно также привязывать цены и прочее. -->
<!-- Если обязать привязывать фото, то в случае удаления фото, услуга тоже удалится. А пользователь может хотеть всего лишь заменить фото в услуге. -->
