.splr-login__form {
  margin-top: 12px;
}

.splr-login__err-block {
  color: red;
  padding: 8px;
  border: 1px solid red;
  margin: 16px 0;
}

.splr-login__input {  
  width: 100%;
  padding: 4px;
  font-size: 1.2rem;
}

.splr-login__form-item {
  margin-bottom: 12px;
}

.splr-login__warning {
  color: red;
  font-size: 0.9rem;
  min-height: 20px;
}

.splr-login__lgn-button {
  padding: 8px;  
}