body, html {
	height: 100%;
	min-height: 100%;
	background: #fff;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *:before, *:after {				 
				 box-sizing: inherit;
			 }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.5rem;
	font-weight: 400;
}

h2 {
	font-size: 1.25rem;
	font-weight: 400;
}

// do not used in a project
// Default style sheet for HTML 4

h3 {
	font-size: 1.17rem;
	font-weight: 400;
}

h4 {
	font-size: 1.12rem;
	font-weight: 400;
}

h5 {
	font-size: .83rem;
	font-weight: 400;
}

h6 {
	font-size: .75rem;
	font-weight: 400;
}



a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $link-color-hover;
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

$phcolor: #999;

::-webkit-input-placeholder {color:$phcolor;}
::-moz-placeholder          {color:$phcolor;}/* Firefox 19+ */
:-moz-placeholder           {color:$phcolor;}/* Firefox 18- */
:-ms-input-placeholder      {color:$phcolor;}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}