<!-- from firm-detail.tpl.html -->
<div>
  <div class="splr__sub-header">
	Специальное предложение
  </div>
  <div>
    <!-- <img src="img/flake.png"/> -->
    <div ng-if="vfirm.ads_ref">
      <a target="_blank"
		 ng-href="{{vfirm.ads_ref.link}}">
		{{vfirm.ads_ref.text}}
	  </a>
    </div>
  </div>
  <p>      
    <p ng-if="vfirm.ads_article">
      <span ng-bind-html="vfirm.ads_article"></span>
    </p>
    <p ng-if="vfirm.ads_warning">
      <small ng-bind-html="vfirm.ads_warning"></small>
    </p>
  </p>
</div>

<!-- Предупреждение ФАС.
     Примеры:	
     Имеются противопоказания, 
     необходимо проконсультироваться со специалистом.
     Генеральная лицензия Банка России № 2306. -->

<!-- Рекламная ссылка. Параметр присутствует 
     только для рекламных филиалов -->
<!-- рекламная ссылка выводится под 
     определенным названием (20 символов), 
     а не в виде чистого URL. -->

<!-- Рекламная статья. Параметр присутствует 
     только для рекламных филиалов. -->
<!-- Обращение рекламодателя (890 символов) — 
     расширенная информация, которая размещается 
     в профиле организации. -->
