.wlc {

   margin: 0 16px;

  .wlc__header {
  	margin: 16px 0 8px;
  }

  .wlc__description {
    margin: 8px 0 16px;
  }

  .wlc__agglo-wrap {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
  	margin: 32px 0;
  }

  .wlc__master-lgn {
    margin: 32px 0;	   
  }

  .wlc__test {
    margin: 32px 0;
  }
}